#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.players {
  width: 100%;
}
.players tr{
  border-bottom: 3px red  solid;
}
.players td {
  margin: 7px 0px;
}

.players td:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.dlt-btn {
  background-color: rgb(146, 0, 29);
  width: 40px;
  aspect-ratio: 1;
  padding: 5px;
}

.add_player {
  display: flex;
  gap: 10px;
  justify-content: center;
}
tr > :nth-child(1) {
  width: 40%;
}

.round-btns {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  gap:10px;
}

.players-list {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.players-list tbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.players-list tbody tr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.striped tbody tr{
  border-bottom: 1px #111 solid;
  padding: 2px;
}
.striped tbody tr:nth-child(even) {
  background-color: #555;
}
.striped tbody tr:nth-child(odd) {
  background-color: #333;
}

