#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.players {
  width: 100%;
}

.players td:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
/* 
.players .btn_cell{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
} */

/* .dlt_btn {
  background-color: rgb(146, 0, 29);
} */

.add_player {
  display: flex;
  gap: 10px;
  justify-content: center;
}
tr > :nth-child(1) {
  width: 40%;
}

.round-btns {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}